<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>如您有任何建议或问题，欢迎联系</p>
            </div></a>
              <a href="https://www.researchgate.net/profile/Ziyao_Zhou3"> 
               <div class="col-lg-2 col-lg-offset-2 text-center">                                                
               <h3 class="wow tada">ResearchGate</h3></i>                          
              </a></a>
              </div>
             <div class="col-lg-2 col-lg-offset-1 text-center"> 
            <a href="mailto:zhou@ziyao.science"><h3 class="text wow tada">Email</h3></i>
               </p>{{ site.email }}</p>
            </a></a>
        </div> <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/zhouziyao">
<h3 class="text wow tada">GitHub</h3></i>                <p>{{ site.github_username }}</p>                
                            </a>                            
        </div>


    </>
</section>



